section.il-section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 1rem 0;
  transition: 400ms;
  & h2.il-section--title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  & h4.il-section--sub-title {
    font-weight: 200;
    text-align: left;
  }
  @import '../modules/session-home';
  @import '../modules/session-evaliation';
  a.il-btn {
    @include il-btn;
    &.il-btn--small {
      @include il-btn-small;
    }
    &.il-btn--submit {
      background: red;
    }
    &.il-btn--reset {
      background: green;
    }
  }
}
